/*alinhar*/
.aling-center{float: none; margin: 0 auto;}
.aling-right{float: right;}
.aling-left{float: left;}


/*** button ***/

/*button arredondado*/
.btn-round{
	border-radius: 25px; 
}

.btn-blue{
	color: #fff;
	background-color: #2d5a87;
}
.btn-blue:hover{
	color: #fff;
    background-color: #1b293d;
}

/*formularios*/
.form-control {
    width: 100%;
    height: 40px;
    background-color: #fff;
    border-radius: 0;
    webkit-box-shadow: none;
    box-shadow: none;
}

input[type=email], input[type=password], input[type=text] {
    margin: 5px 0 2px 0;
    display: inline-block;
    border-style: none;
    border-bottom: 1px solid #1b293d;
}

/*alterar entre login e cadastrar*/
a#change-for{
	text-decoration: none; 
}

#change-for{
}



/*A partir daqui é library*/

li#words{
    background-color: #6a6a6a;
}

ul {
     list-style-type:none
 }
