<!DOCTYPE html>
<html lang="pt-br" >
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  

	<title>Entrar</title>


    <!--glyphicon-->
	<link href="/css/bootstrap.css" rel="stylesheet">
	
	<link href="/css/style.css" rel="stylesheet">
	

</head>
<body id="page-login">
	<header>
		<img class="img-responsive col-sm-1 aling-center "  src="../static/_img/logo-icon.png"/>
		<hr>
	</header>

	<div class="container-fluid text-center" >
		<div class="col-sm-3 aling-center" >

			<form action="login" method="get" >
				<label></label>
				<input  required class="form-control" placeholder="Email" type="email" name="email">
				<input required class="form-control" placeholder="Senha" type="password" name="password">
				<br><br>
				<button class=" btn-round aling-center btn btn-blue btn-lg col-xs-12 col-sm-6" type="submit">Entrar</button>
			</form>

			<div id="change-for" class="col-sm-12 col-xs-12 ">
				<br>
				<p>Não tem uma conta? <a href="register">Cadastrar</a></p>
			</div>
		</div>
	</div>

</body>
</html>

