<!DOCTYPE html >
<html lang="pt-br" >
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Cadastrar</title>

   <!-- bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- my css -->
    <link href="/css/style.css" rel="stylesheet">

</head>

<body id="page-register" >

	<header >
		<img class="img-responsive col-sm-1 aling-center "  src="_img/logo-icon.png">
		<hr>
	</header>

	<div class="container-fluid text-center" >
		<div class="col-sm-3 aling-center" >
				
			<form action="registersuccess" method="POST" >
				<!-- input required class="form-control" placeholder="Como devemos te chamar?" type="text" name="name" -->
				<input required class="form-control" placeholder="Email" type="email" name="email">
				<!-- input required class="form-control" placeholder="Confimar email" type="email" name="confirm-email"-->
				<input required class="form-control" placeholder="Senha" type="password"  name="senha">
				<!-- input required class="form-control" placeholder="Confirmar senha" type="password" name="confirm-password"-->
				<br><br>
				<button class=" btn-round aling-center btn btn-blue btn-lg col-xs-12 col-sm-6" type="submit">Cadastrar</button>
			</form>
		</div>

		<div id="change-for" class="col-sm-12 col-xs-12 ">
			<br>
			<p>Já tem uma conta? <a href="/">Entrar</a></p>
		</div>
	</div>
</body>

</html>