<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>registrar</title>

</head>
<body>
<form action="" method="post">
	<table border="1px">
		<tr>
			<td><input type="text" placeholder="Como devemos te chamar?" name="nome"></td>
		</tr>
		<tr>
			<td><input type="text" placeholder="Usuário" name="usuario"></td>
		</tr>
		<tr>
		<td><input type="email" placeholder="Email" name="email"></td>
		</tr>
		<tr>
			<td><input type="email" placeholder="Confirmar Email" name="Cemail"></td>
		</tr>
		<tr>
			<td> <input type="password" placeholder="Senha" name="senha"> </td>
		</tr>
		<tr>
		<td><input type="password" placeholder="Confirmar Senha" name="Csenha"></td>
		</tr>
		<tr>
			<td align="center"><button>cadastrar</button></td>
		</tr>
	</table>
</form>
<p>Já possui uma conta? <a href="index.html"><b>Entre</b></a></p>
</body>
</html>